@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: "Newsreader", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --fluid-width: 80vw;
}
@media (min-width: 768px) {
    :root {
        --fluid-width: 60vw;
    }
}

header {
    width: var(--fluid-width);
    margin: 5vh 5vh 5vh 5vh;
}

footer {
    margin: 1vh 5vh 1vh 5vh;
    width: var(--fluid-width);
    height: 2em;
}

.contact-form {
    padding: 10vh 10vh 10vh 10vh;
    max-width: var(--fluid-width);
    white-space: normal;
}

.section-main {
    background-color: rgba(255, 250, 220, 0.8);
    display: flex;
    justify-content: space-evenly;
}
.article-main {
    padding: 10vh 10vw 10vh 10vw;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: var(--fluid-width);
}

.article-card {
    padding: 5vh 5vh 5vh 5vh;
    background: rgba(255, 255, 255, 0.3);   /* mostly transparent white */
    backdrop-filter: blur(25px);            /* blurs what's behind it */
     -webkit-backdrop-filter: blur(25px);    /* Safari support */
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
    border: 2px dotted grey;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: var(--fluid-width);
    border-radius: 12px;
}

h1 {
    font-family: "Spectral", serif;
}
section {
    flex-wrap: wrap;
    width: var(--fluid-width);
}

article {
    border-width: 1px;
}
